html {
    body {
        .mainSection {
            .threeHrRange {
                .range {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-evenly;
                    border: 1px solid black;
                    #first
                    #second
                    #third
                    #fourth
                    #fifth
                    #sixth
                    #seventh
                    #eighth
                    {
                        border: 1px solid black;padding: 10px;
                        width: 4.5vw;
                        height: 18vh;
                    }
                }
            }
        }
    }
}