html {
    body {
        .mainSection {
            .forecast {
                display: flex;
                flex-direction: column;
                .dayForecast {
                    height: auto;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    background-color: none;
                    #today,
                    #tomorrow,
                    #D2,
                    #D3,
                    #D4 {
                        width: 9rem;
                        height: auto;
                        padding: 2rem 1rem;
                        background-color: #118ab2;
                        border-radius: 10px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        h1 {
                            margin: 0;
                            font-size: 1.5rem;
                        }
                        h2 {
                            margin: 0;
                        }
                        #weatherIcon1,
                        #weatherIcon2,
                        #weatherIcon3,
                        #weatherIcon4,
                        #weatherIcon5 {
                            width: 3rem;
                            height: 3rem;
                            margin: 2rem;
                        }
                    }
                }
            }
        }
    }
}
