html {
    body {
        header h4 {
            color: white;
            display: flex;
            justify-content: center;
        }
        .mainSection {
            .main {
                width: 70vw;
                height: 120vh;
                border-radius: 10px;
            }
            .headerBar {
                display: flex;
                justify-content: space-between;
                .favoriteCities {
                    width: 10rem;
                }
                #searchCity {
                    #searchBar {
                        width: 15rem;
                        height: 2rem;
                        padding-left: 0.5rem;
                    }
                    #searchBar::placeholder {
                        font-size: 1rem;
                    }
                    #searchBtn {
                        width: 5rem;
                        height: 2rem;
                        font-size: 1rem;
                    }
                }
            }

            .currentWeather {
                border-radius: 10px;
                text-align: center;
                #currentWeatherCity {
                    font-size: 3rem;
                    margin: 1rem;
                }
                #currentWeatherTemp,
                #currentWeatherFeel {
                    font-size: 1.5rem;
                }
                #currentWeatherIcon {
                    width: 10rem;
                    height: 10rem;
                }
            }
            .favoriteCities {
                color: white;
            }
        }
    }
}
