html {
    body {
        header h4 {
            color: white;
            display: flex;
            justify-content: center;
        }
        .mainSection {
            .main {
                .headerBar {
                    display: flex;
                    justify-content: space-between;
                    .favoriteCities {
                        color: white;
                        width: 10rem;
                    }
                    #searchCity {
                        #searchBar {
                            width: 15rem;
                            height: 2rem;
                            padding-left: 0.5rem;
                        }
                        #searchBar::placeholder {
                            font-size: 1rem;
                        }
                        #searchBtn {
                            width: 5rem;
                            height: 2rem;
                            font-size: 1rem;
                        }
                    }
                }
                .currentWeather {
                    border-radius: 10px;
                    text-align: center;
                    #currentWeatherCity {
                        font-size: 3rem;
                        margin: 1rem;
                    }
                    #currentWeatherTemp,
                    #currentWeatherFeel {
                        font-size: 1.5rem;
                    }
                    #currentWeatherIcon {
                        width: 10rem;
                        height: 10rem;
                    }
                }
            }
        }
    }
    @media only screen and (max-width: 375px) {
        body {
            .mainSection {
                .main {
                    .headerBar {
                        .favoriteCities {
                            width: 8rem;
                        }
                        #searchCity {
                            display: flex;
                            align-items: center;
                            #searchBar {
                                width: 8rem;
                                height: 1rem;
                                padding: 0 0.2rem;
                            }
                            #searchBar::placeholder {
                                font-size: 0.5rem;
                            }
                            #searchBtn {
                                width: 2rem;
                                height: 1rem;
                                font-size: 0.5rem;
                                padding: 0;
                            }
                        }
                    }
                    .currentWeather {
                        #currentWeatherCity {
                            font-size: 1.5rem;
                            margin: 1rem;
                        }
                        #currentWeatherTemp,
                        #currentWeatherFeel {
                            font-size: 1rem;
                        }
                        #currentWeatherIcon {
                            width: 5rem;
                            height: 5rem;
                        }
                    }
                }
            }
        }
    }
}
